# 基礎時間與時區
python-dateutil
pytz

# 數值與資料核心
numpy==1.26.4
pandas==2.2.2
scipy
scikit-learn

# 技術指標
git+https://github.com/twopirllc/pandas-ta.git@0.3.14b0


# 繪圖
matplotlib

# 金融資料
yfinance

# Streamlit & 視覺化
streamlit==1.32.2
altair==4.2.2


# 金融資料
yfinance


# Streamlit 穩定組合（解 altair / vegalite 問題）
streamlit==1.32.2
altair==4.2.2


